<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanE" class="com.solovev.beanconfiguration.bean.BeanE">

        <replaced-method name="methodToReplace" replacer="methodReplacerImpl">
        </replaced-method>
    </bean>

    <!-- 2. Define the bean that implements MethodReplacer -->
    <bean id="methodReplacerImpl" class="com.solovev.beanconfiguration.bean.MethodReplacerImpl">
        <!-- Constructor arguments or properties for the replacer bean, if any -->
    </bean>
</beans>