<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kite Shop</title>
</head>
<body>
<h2>Registration Form</h2>
<p>Have an account? Click
    <a th:href="@{/login}">here to sign in.</a></p>

<!-- Display a general error message (if present) -->
<div th:if="${errorMessage}">
    <p th:text="${errorMessage}" style="color: red;"></p>
</div>

<form method="POST" action="/registration" id="registerForm" th:object="${registrationForm}">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" th:field="*{username}" required><br>
    <div th:if="${#fields.hasErrors('username')}">
        <p th:errors="*{username}" style="color: red;"></p>
    </div>
    <br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" th:field="*{password}" required><br>
    <div th:if="${#fields.hasErrors('password')}">
        <p th:errors="*{password}" style="color: red;"></p>
    </div>
    <br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" th:field="*{email}"><br>
    <div th:if="${#fields.hasErrors('email')}">
        <p th:errors="*{email}" style="color: red;"></p>
    </div>
    <br>

    <label for="phoneNumber">Phone Number:</label><br>
    <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}"><br>
    <div th:if="${#fields.hasErrors('phoneNumber')}">
        <p th:errors="*{phoneNumber}" style="color: red;"></p>
    </div>
    <br>

    <input type="submit" value="Register">
    <input type="reset" value="Reset">
</form>
</body>
</html>
